#todo {
    width: 400px;
    box-shadow: 5px 5px 5px black;
    margin: 0 auto;
    margin-top: 50px;
    background-color: #fff;
    list-style-type: none;
    padding: 10px;
    
    li {
        position: relative;
        padding: 10px 10px;
        margin-bottom: 2px;
        background-color: lightgray;
        border-radius: 5px;
        cursor: pointer;
        
        span {
            float: right;
            font-style: italic;
        }
        
        div {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: white;
            border-radius: 5px;
            
            span {
                float: left;
                width: 30%;
                height: 100%;
                margin-right: 3.33%;
                background-color: darkslategray;
                color: white;
                text-align: center;
            }
        }
    }
}